.content {
  color: $primary-text; //landing page 
  &.landing {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    .headings {
      grid-column: 2
    }
  }
}

.lg-heading {
  font-size: 80px;
  margin: 5px 0;
  &.indent {
    padding-left: 60px;
  }
}

.secondary-text {
  color: $secondary-text;
}

.landing {
  .headings {
    h2 {
      font-weight: 500;
      border-left: 3px solid white;
      margin-left: 2rem;
      padding-left: 0.3rem;
      margin-bottom: 0.3rem;
      ;
    }
    h3 {
      font-weight: 500;
      padding-left: 6rem;
      margin-top: 0.3rem;
      .bold {
        font-weight: 800;
      }
    }
  }
}