.content {
  color: $primary-text;
  height: 100%;
  padding: 3% 10%;
  &.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.lg-heading {
  font-size: 80px;
  margin: 5px 0;
  &.indent {
    padding-left: 60px;
  }
}

.secondary-text {
  color: $secondary-text;
}

.light-blue {
  color: $light-blue;
}

.blue-text {
  color: $blue-text;
}

.landing {
  .headings {
    h2 {
      font-weight: 500;
      border-left: 3px solid white;
      margin-left: 2rem;
      padding-left: 0.3rem;
      margin-bottom: 0.3rem;
      ;
    }
    h3 {
      font-weight: 500;
      padding-left: 6rem;
      margin-top: 0.3rem;
      .bold {
        font-weight: 800;
      }
    }
  }
}

.about {
  h1 {
    margin-bottom: 0.3rem;
    ;
  }
  h3 {
    padding-left: 10rem;
    font-weight: 500;
    margin-top: 0;
  }
  .about-images {
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
      &:nth-child(1) {
        justify-content: center;
        .hex-container {
          &:nth-child(1) {
            margin-right: -4px
          }
          &:nth-child(2) {
            margin: 0 96px;
          }
          &:nth-child(3) {
            margin-left: -4px;
          }
        }
      }
      &:nth-child(2) {
        justify-content: center;
        margin-top: -104px;
        .hex-container {
          &:nth-child(1) {
            margin-right: 46px;
          }
          &:nth-child(2) {
            margin-left: 46px;
          }
        }
      }
      img {
        height: 190px;
        width: 190px;
      }
    }
    .hex-container {
      width: 200px;
      height: 200px;
      background: $light-blue;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
    img {
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
  }
  .lines {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    height: 140px;
    span {
      margin: 0 250px;
    }
  }
  .about-sides {
    display: flex;
    width: 100%;
    justify-content: space-between;
    h2 {
      border-left: 3px solid $blue-text;
      padding-left: 5px;
      text-transform: uppercase;
      font-weight: 800;
    }
    .about-side {
      &:nth-child(1) {
        padding-left: 8%;
      }
      &:nth-child(3) {
        padding-right: 8%;
      }
      width: 33%;
      p {
        padding-left: 10px;
        text-align: justify;
        line-height: 2.25rem;
        font-weight: 600;
      }
    }
    .about-mid {
      widows: 33%;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 220px;
    }
  }
}