.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  grid-column: 1 / span 1;
  background: #4c4c4c;
  color: white;
  .nav-links,
  .social-links {
    list-style: none;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    .nav-item {
      text-align: center;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
  .nav-links {
    .nav-item {
      padding: 1rem 0;
    }
  }
  .social-links {
    .nav-item {
      padding: 0.5rem 0;
    }
  }
}