@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'config';
@import 'nav';
@import 'content';
//Variables
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: auto;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 85px 1fr;
}

.content {
    height: 100%;
    &.landing {
        background: #26A4FF;
    }
    &.about {
        background: $yellow;
    }
}

.blue-text {
    color: $blue-text;
}